
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #005ea6;
  }
  
  /* SearchForm.js */
  label {
    display: block;
    margin: 10px 0;
  }
  
  input[type="text"],
  input[type="date"]
   {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005ea6;
  }
  
  /* FlightList.js */
  /* ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
  }
  
  li strong {
    display: inline-block;
    width: 120px;
    font-weight: bold;
  } */
  
 